<p>binding Interpolation in One Way</p>
<!-- Image = {{itemImageUrl | uppercase}} <br>
Object ={{testObj}};<br>
Object ={{testObj | json}};<br> -->
<!-- Ternery Operator : {{}}; -->
<!-- <img [src]="itemImageUrl" width="400px" height="200px"> -->
<!-- <img bind-src="itemImageUrl" width="400px" height="200"><br> -->
<!-- <img src="{{itemImageUrl}}"  width="400px" height="200"> -->
<!-- <img src="itemImageUrl"  width="400px" height="200"> -->
  <p>Style Binding </p>
<!-- <button [style.backgroundColor]="applyRedStyle?'red':'blue'">My New Button </button><br>
<button [style.backgroundColor]="getcolor() ">  color change from function </button> -->
<p>Event Binding</p>
<!-- <button (click)="onSaveClick()" >save without passing event details </button>
<button (click)="onSaveClick()"> save with passsing event details</button> -->
<!-- Buttons Clicked: {{clickCounter}} -->
<p>Two Way Data Binding using ng Model </p>
<!-- <input [(ngModel)]="login3">{{login3}} -->
<!-- Template Reference variable  -->
<p>Template REference Variable </p>
<!-- <label>Enter Your Name : </label>
<input #login>
<button (click)="show(login.value)"><p>click me </p></button> -->





